/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background: rgba(32, 32, 32, 1);
 }

 li, p, h1, h2, h3, a, label {
   color: white;
 }

 label {
   font-size: 22px;
 }

 li {
   list-style: none;
 }

 .splash-indexes-container {
   padding-top: 30px;
   display: flex;
   flex-flow: row wrap;
   justify-content: flex-start;
   padding-bottom: 30px;
 }

 .index-container {
    
    min-width: 30%;
    background-color: rgba(48, 48, 48, 1);
    padding: 0;
    margin: 0 auto;
    font-weight: 300;
    border: 5px solid black;
    max-width: 40%;
}

.index-container li {
    list-style: none;
}

.item-container li {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.index-container > li > p {
    padding: none;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}

button, .button-format a {
    padding: 8px 16px;
    text-decoration: none;
    background-color: lightgreen;
    text-align: center;
    font-size: 16px;
    border: 2px solid green;
    color: black;
}

button:hover, .button-format a:hover {
  cursor: pointer;
}

.item-container {
  padding-bottom: 20px;
}

.item-container li p, .item-container li {
   max-width: 97%;
   word-wrap: break-word;
   font-size: 18px;
}

.friend-index-container {
    min-width: 20%;
}

.game-item-container .game-central {
  font-size: 22px;
}

.game-item-container .game-foreign {
  font-size: 22px;
}

.item-container .game-item-container div li {
    word-wrap: none;
}