/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #user-auth-banner {
    height: 100px;
    display: flex;
    width: 1000px;
    background-color: turquoise;
 }

 .user-auth-banner-title {
    justify-content: left;
    font-size: 50px;
    color: forestgreen;
 }

 .user-auth-banner-links {
    justify-content: right;
    color: forestgreen;
 }

 #board-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: red;
    width: 760px;
    height: 760px;
 }

 .board-element {
    height: 75px;
    width: 75px;
    background-color: blue;
    border: 5px solid gray;
    padding: 5px;
 }

 .piece-type {
    color: red;
    text-align: center;
    font-size: 35px;
 }

 .black-tile {
    background-color: black;
 }

 .white-tile {
    background-color: white;
 }