// Place all the styles related to the friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend-search {
    // margin: auto;
    margin-left: 40px;
    display: flex;
    padding-bottom: 15px;
}

.friend-item {
    display: flex;
    align-content: space-between;
}

.friend-item li {
    width: 25%;
}

.friend-item > li {
    width: 75%;
}

.item-container .friend-item li a,
.item-container .friend-item li p {
    color: rgb(180, 7, 180);
    font-size: 35px;
    text-decoration: none;
}

.friend-item li:hover {
    text-decoration: underline;
    color: rgb(180, 7, 180);
    cursor: pointer;
}

.friend-item .no-decoration:hover {
  text-decoration: none;
  cursor: default;
}

.friends-text {
    color: rgb(180, 7, 180);
}

