// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Board

.big-board-container {
    display: flex;
}

.captured-pieces-container {
    display: flex;
    flex-direction: column;
    height: 880px;
    // background-color: blueviolet;
    padding-left: 20px;
    min-width: 28%;
}

.white-captures {
    padding-top: 60px;
    height: 440px;
}

.white-captures div, .black-captures div {
    display: flex;
    padding-right: 5px;
}

.black-captures {
    height: 410px;
}

#board-container {
    padding-top: 10px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    // background-color: red;
    width: 880px;
 }

 .board-element {
    height: 90px;
    width: 90px;
    background-color: blue;
    border: 5px solid gray;
    padding: 5px;
 }

 .piece-type {
    color: red;
    text-align: center;
    font-size: 35px;
 }

 .black-tile {
    background-color: black;
 }

 .white-tile {
    background-color: white;
 }

 .green-background {
     background-color: lightgreen;
 }

 .white {
     color: blue;
 }

 .black {
     color: red;
 }


 // Display Games

 .game-item-container {
    //  padding-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    width: 90%;
    background-color: rgba(24, 24, 24, 1);
    border: 5px solid black;
    margin: auto;
    // padding-bottom: 15px;
 }

 .game-item-container div {
    //  display: flex;
    //  flex-direction: column;
    //  align-items: stretch;
    //  max-height: 200px;
    // min-width: 180px;
    width: 50%;
 }

.game-winner {
    margin: auto;
    text-align: center;
    margin-bottom: 5px;
    background-color: rgb(151, 114, 21);
    // height: 50px;
}

.game-loser {
    margin: auto;
    text-align: center;
    margin-top: 5px;
    background-color: rgb(158, 158, 158);
    // height: 50px;
}

.game-central {
    color: blue;
}

.game-foreign {
    color: black;
}

.game-moves p {
    color: red;
    text-align: center;
}

.game-moves-header {
    padding: none;
    height: 30%;
    color: red;
    text-align: center;
    text-decoration: underline;
}

.game-item-container div .game-moves-header p {
    padding: none;
    color: red;
    font-size: 26px;
}

.games-text {
    color: red;
}

.play-a-game {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.play-a-game a {
    // margin: auto;
    padding: 10px 20px;
    text-decoration: none;
    background-color: rgb(29, 207, 29);
    text-align: center;
    font-size: 50px;
    border: 5px solid grey;
    color: black;
}