// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.item-container .goal-item-container li .goal-title {
    font-size: 24px;
    width: 50%;
    padding: 5px;
    background-color: rgb(12, 175, 12);
    color: blue;
    text-align: center;
    margin: auto;
}

.goal-body {
    font-size: 15px;
}

.goal-form-item {
    padding-right: 10px;
}

.goal-form-title {
    padding-right: 18px;
}

.goal-form-body-div {
    padding-bottom: 15px;
}

.goal-item-container {
    margin: auto;
    width: 90%;
    background-color: rgb(7, 167, 167);
    border: 5px solid rgb(23, 206, 206);
}

.goal-top-item {
    padding-bottom: 25px;
    width: 90%;
    margin: auto;
}

.goal-item-container div {
    display: flex;
    align-content: space-between;
}

.goals-text {
    color: rgb(11, 192, 192);
}